footer {
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #2E3B69;
    text-align: center;
}

.texto-inicial {
    text-align: justify;
}

.footer-bottom {
    padding: 0px 0;
    margin: 0 auto;
}

.social-icons {
    padding-top: 50px;
}

.social-icons li {
    margin-bottom: 10px;
    text-align: left;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.float-beneficios {
    display: flex;
}

.float-left {
    flex: 1;
    text-align: justify;
    padding-right: 20px;
}

.float-right {
    flex: 1;
    text-align: justify;
    padding-left: 20px;
}

.float-beneficios-img {
    display: flex;
}

.float-left-img {
    flex: 1;
    text-align: justify;
}

.float-right-img {
    flex: 1;
    text-align: justify;
}

.image-container {
    display: flex;
}

.image-container img {
    flex: 1;
    margin-right: 0px;
}

.footer-top {
    margin-top: 25px;
}

.text-center {
    text-align: center;
}

.justified {
    text-align: justify;
}

.centered {
    text-align: center;
}

.conteudo {
    padding: 50px;
}

@media (max-width: 767px) {
    .float-beneficios {
        flex-direction: column;
    }

    .float-left,
    .float-right {
        flex: auto;
        padding: 0;
        margin-bottom: 20px;
        text-align: center;
    }

    .float-beneficios-img {
        flex-direction: column;
    }

    .float-left-img,
    .float-right-img {
        flex: auto;
        padding: 0;
        text-align: center;
    }
}

@media (max-width: 576px) {
    .conteudo {
        padding: 20px;
    }

    .footer-top {
        margin-top: 15px;
    }

    .footer-bottom {
        padding: 10px 0;
    }

    .footer-top,
    .footer-bottom {
        text-align: center;
    }

    .social-icons {
        padding-top: 30px;
    }

    .social-icons li {
        text-align: center;
    }
}
