#reducao-imposto,
#doacao-nfp {
    float: left;
    width: 50%;
    padding: 1.2rem;
}

section {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    section {
        width: 50%;
        float: left;
    }
}

.imagem-crianca {
    width: auto; 
    height: auto; 
    max-width: 100%; 
    padding-bottom: 30px;
}

.texto-inicial p{ 
    padding-right: 100px;
    padding-left: 100px;
    text-indent: 50px
}

.float-beneficios {
    overflow: auto;
}

.float-left {
    float: left;
    width: 50%;
}

.float-right {
    float: right;
    width: 50%;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    padding: 10px;
    text-align: justify;
}

.passo-passo{
    padding-left: 80px;
    padding-right: 100px;
    text-align: justify;
}

#conteudo {
    padding: 500px;
}

.social-icons{
    padding-top: 30px;
}

.social-icons li {
    margin-bottom: 10px;
}

/* Footer */
footer {
    bottom: 0; /* Fixando o footer na parte inferior */
    width: 100%; /* Garantindo que o footer ocupe toda a largura */
    padding: 10px 0; /* Adicionando algum espaçamento ao redor do conteúdo do footer */
    background-color: #2E3B69; /* Cor de fundo do footer */
    text-align: center; /* Centralizando o texto do footer */
}

.footer-bottom {
    padding: 20px 0;
    margin: 0 auto; /* Centraliza a div horizontalmente */
}
