/* Header centralizado */
header {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo para a seção de contato */
.contato {
    padding: 20px;
    background-color: #f5f5f5;
    text-align: center;
}