.login-container {
    position: relative;
    display: flex;
    flex: 1;
    max-width: 300px;
    padding: auto;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.login-footer {
    position: fixed;
    bottom: auto;
    margin-top: 80px;
}

.login-form {
    width: 400px;
    height: 300px;
    padding: 20px;
    background: #B2CEEF;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 200px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 3px;
}

.login-form input[type="submit"] {
    width: calc(100% - 40px);
    padding: 10px 0;
    background-color: #3F3333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-form input[type="submit"]:hover {
    background-color: #45a049;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #2E3B69;
    text-align: center;
}

.footer-bottom {
    padding: 0px 0;
    margin: 0 auto;
}

.social-icons{
    padding-top: 50px;
}

.social-icons li {
    margin-bottom: 10px;
    text-align: left;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.float-left, .float-right {
    flex: 1;
    max-width: 250px;
    text-align: center;
    margin-top: 250px;
}

.float-right {
    text-align: right;
    margin-top: 300px;
    margin-left: 20px;
}

.image-container img {
    max-width: 250px;
    max-height: 250px;
    float: left;
    margin-right: 10px;
}

.footer-top {
    margin-top: 25px;
}

.text-center {
    text-align: center;
}

.justified {
    text-align: justify;
}

.centered {
    text-align: center;
}