.img-noticia{
    text-align: center;
    margin: auto;
    display: block;
}

.card img{
    width: 30rem;
    height: 14rem;
    object-fit: cover; 
}

.card-body{
    width: 25rem;
    height: 15rem;
    position: relative;
}

.card-text {
    word-wrap: break-word; 
  }

.intro-noticia {
    margin-top: 80px;
}

.verMaisButton{
    position: absolute;
    bottom: 1rem;
    left: 10.2rem
}
  