---
interface Props {
  author: string;
}

const { author } = Astro.props;
---

<div class="card w-96 bg-base-100 shadow-xl">
  <div class="card-body p-6 items-center text-center">
    <h2 class="card-title">{author}</h2>
    <p><slot/></p>
  </div>
</div>
